@model List<Employee>
@{
    ViewData["Title"] = "Index";
    int i = 1;
}

<h1>Employee Data</h1>

<a href="/employee/addform" class="btn btn-dark">Add_New_Employee</a>
<hr/>
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Email</th>
            <th scope="col">Controls</th>

            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
            {
        <tr>
            <th scope="row">@(i++)</th>
            <td>@item.Name</td>
            <td>@item.Age</td>
            <td>@item.Salary</td>
            <td>@item.Email</td>

                <td>
                    <a href="/employee/getbyid/@item.ID"><i class="fa-solid fa-circle-info"></i></a>
                    -
                    <a href="/employee/EditForm/@item.ID"><i class="fa-solid fa-pen-to-square"></i></a>
                    -
                    <a href="/employee/delete/@item.ID"><i class="fa-solid fa-trash"></i></a>
                </td>
        </tr>
            }
    </tbody>
</table>
