@model List<Office>
@{
    ViewData["Title"] = "Index";
    var i = 1; 
}

<h1>Office Data</h1>

<a asp-controller="office" asp-action="addform" class="btn btn-dark">Add_New_Office</a>
<hr />
<table class="table table-light">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Controls</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(i++)</th>
                <td>@item.Name</td>
                <td>@item.Location</td>
                <td>
                    <a asp-controller="office" asp-action="index" asp-route-id="@item.ID"><i class="fa-solid fa-circle-info"></i></a>
                    -
                    <a asp-controller="office" asp-action="index" asp-route-id="@item.ID"><i class="fa-solid fa-pen-to-square"></i></a>
                    -
                    <a asp-controller="office" asp-action="index" asp-route-id="@item.ID"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>